.title {
    margin-left: 40%
}

.content {
    background-color: white;
    border: 2px rgb(219, 219, 219) solid;
}

.content-panel {
    margin: 2%;
}

.color-header {
    background-color: #0e7227;
    color: white !important;
}

.disable_ripple:hover{
    background: currentColor !important;
}

.mat-expansion-panel-header:hover {
    background-color: #0e7227 !important;
}
