@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-green, 900);
$my-accent: mat-palette($mat-orange, 500);
$my-warn: mat-palette($mat-red, 500);
//$my-primary: mat-palette($mat-blue, 500);
//$my-accent: mat-palette($mat-orange, 500);
//$my-warn: mat-palette($mat-red, 500);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);


.alternative {
    $my-primary: mat-palette($mat-blue, 500);
    $my-accent: mat-palette($mat-light-green, 800);
    $cancelar: mat-palette($mat-red, 900);

    $my-theme: mat-light-theme($my-primary, $my-accent, $cancelar);



    @include angular-material-theme($my-theme);
}