.content-panel {
    padding: 20px;
}

mat-form-field {
    margin-right: 12px;
}

.example-container {
    height: 200px !important;
}

.data-hora {
    width: 160px;
}

.header-color {
    background-color: #0e7227;
    color: #FFFFFF;
}

.button-positon {
    margin-left: 30%;
}

.space-box {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
  }

.container {
    height: 70%;
}

.button-positon {
    margin-left: 14%;
}