<div class="content-panel">
    <mat-progress-bar mode="indeterminate" *ngIf="isCompleted"></mat-progress-bar>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="viewInclusion">

            <ng-container matColumnDef="actions" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    Ação
                </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="viewDetail(row)">
                        <mat-icon>search</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="captureDate">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Data da Captura </th>
                <td mat-cell *matCellDef="let view"> {{view.captureDate }} </td>
            </ng-container>

            <ng-container matColumnDef="qtdContractCaptured">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Qtd Contratos Capturados </th>
                <td mat-cell *matCellDef="let view"> {{view.qtdContractCaptured}} </td>
            </ng-container>

            <ng-container matColumnDef="sendDate">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Data Envio </th>
                <td mat-cell *matCellDef="let view"> {{view.sendDate}} </td>
            </ng-container>

            <ng-container matColumnDef="qtdContractSend">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Qtd Contratos Enviados </th>
                <td mat-cell *matCellDef="let view"> {{view.qtdContractSend}} </td>
            </ng-container>

            <ng-container matColumnDef="exclusionReason">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Motivo Exclusão </th>
                <td mat-cell *matCellDef="let view"> {{view.exclusionReason }} </td>
            </ng-container>

            <ng-container matColumnDef="qtdContractAccepted">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Qtd Contratos Aceitos </th>
                <td mat-cell *matCellDef="let view"> {{view.qtdContractAccepted}} </td>
            </ng-container>

            <ng-container matColumnDef="qtdContractRejected">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Qtd Contratos Rejeitados </th>
                <td mat-cell *matCellDef="let view"> {{view.qtdContractRejected}} </td>
            </ng-container>

            <ng-container matColumnDef="idFileControl">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Id Arquivo </th>
                <td mat-cell *matCellDef="let view"> {{view.idFileControl}} </td>
            </ng-container>

            <ng-container matColumnDef="nameFile">
                <th mat-header-cell *matHeaderCellDef class="header-color"> Nome Arquivo </th>
                <td mat-cell *matCellDef="let view"> {{view.nameFile}} </td>
            </ng-container>

            <!-- Star Column -->
            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let view">
                    <mat-icon>more_vert</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>

        </table>
    </div>
    <mat-paginator [length]="totalElement" [pageSize]="rows" [pageSizeOptions]="pageSizeOptions"
        (page)="newPage($event)">
    </mat-paginator>

    <mat-divider></mat-divider>


    <div class="example-label">Exportar para: </div>
    <div class="example-button-row">
        <button mat-button color="primary" (click)="export()" (disabled)="hasViewList()">
            <!-- <mat-icon>search</mat-icon> -->
            <img src="../../../../assets/csv.png" width="35" height="35">
        </button>
    </div>
</div>