ul li {
    list-style: none;
}

.mat-toolbar.mat-primary {
    background: #0e7227;
    color: #fff;
    max-height: 4px !important;
  }
.mat-toolbar-multiple-rows {
    min-height: 46px;
}

.font-header {
    font-size: 12px;
}