<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>>> Cadastro de Produto</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>
<hr/>
<div class="for-fields">
    <div fxLayoutAlign="left" fxFlexFill="center">
        <mat-card >
            <form fxLayoutAlign="Stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="addProduct()" autocomplete="off">
                <mat-form-field>
                    <input matInput placeholder="Descrição*" formControlName="description">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Valor*" formControlName="price">
                </mat-form-field>
                <hr/>
                <div fxLayout="row">
                    <div style ="padding: 0px 20px 10px 0px; width:100%; text-align: left;">
                        <button (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
                    </div>
                    <div style ="width:100%; text-align: right;" class="alternative">
                        <button type="submit" mat-raised-button color="primary">Salvar</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>


<!--
<div fxLayoutAlign="left top">

        <form fxLayoutAlign="Stretch" fxLayout="column" class="form" (submit)="onSubmit(form)">
        
            <mat-form-field>
                <input id="description" matInput placeholder="Descrição" required [(ngModel)]="product.description" name="description">
            </mat-form-field>

              <div fxLayout="row">
                  
                <div style ="padding: 0px 20px 10px 0px; width:100%; text-align: left;">
                    <button (click)="list()" mat-raised-button color="accent">Voltar</button>
                </div>

                <div style ="width:100%; text-align: right;">
                    <button type="submit" mat-raised-button color="primary">Salvar</button>
                </div>

            </div>  

            
        </form>
        -->
    
</div>