.example-container {
    height: 80%;
    width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  /*
    Customizacao do tabela
  */

  .label-vertical {
    display: table-cell;
    vertical-align: middle !important;
    transform: rotate(270deg);
    max-width: 10px !important;
  }

  .with-column {
    min-width: 80px;
  }

  .with-another-columns {
    min-width: 20px;
  }

  td  {
    font-size: 7px;
    text-align: center;
    border: 1px solid rgb(214, 214, 214);
  }
  th {
   font-size: 9px !important;
   font-weight: bold !important;
   text-align: center !important;
   border: 1px solid rgb(141, 141, 141);
   background-color: rgba(201, 221, 196, 0.993);
   height: 140px !important;
  }

  .th-contr-green {
    background-color: rgb(56, 202, 37) !important;
  }

  .th-nas-orange {
     background-color: rgb(216, 159, 35) !important;
  }
  .th-cam-yellow {
    background-color: rgb(177, 202, 37) !important;
  }
  .th-kit-grey {
    background-color: rgb(123, 129, 122) !important;
  }
  .th-reb-red {
    background-color: rgb(202, 42, 37) !important;
  }
  .th-foc-blue {
    background-color: rgb(81, 37, 202) !important;
  }
  .th-base-purple {
    background-color: rgb(214, 10, 233) !important;
  }

  .cell-selected {
    background: rgb(221, 243, 19);
    padding: 20%;
  }

  .cell-selected-green {
    background: rgb(19, 243, 38);
    padding: 20%;
  }

  .cell-selected-yellow {
    background: rgb(239, 243, 19);
    padding: 20%;
  }

  .cell-selected-red {
    background: rgb(243, 71, 19);
    padding: 20%;
  }

  .example-second-footer-row td {
    color: #900000;
    font-size: 30px;
  }

  .th-detail {
    height: 2px !important;
    max-height: 3px !important;
    font-size: 12px !important;
    margin: 0px !important;
    padding: 0px !important;
    size: 2px;
    background-color: rgba(201, 221, 196, 0.993);
  }

  .color-header {
    background-color: #0e7227;
    color: white !important;
  }