<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="sup" sticky >
        <th mat-header-cell *matHeaderCellDef ><span>Sup</span>  </th>
        <td mat-cell *matCellDef="let element" class="with-column"> {{element.sup}} </td>
      </ng-container>
  
      <!-- Position Column -->
      <ng-container matColumnDef="vend">
        <th mat-header-cell *matHeaderCellDef> Vend </th>
        <td mat-cell *matCellDef="let element" class="with-column"> {{element.vend}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="codTime">
        <th mat-header-cell *matHeaderCellDef> Cod. Time </th>
        <td mat-cell *matCellDef="let element"> {{element.codTime}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="ordem">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">Ordem</span></th>
        <td mat-cell *matCellDef="let element"> {{element.ordem}} </td>
      </ng-container>

      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical"> Dia </span></th>
        <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
      </ng-container>

      <ng-container matColumnDef="semana">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  Semana </span></th>
        <td mat-cell *matCellDef="let element"> {{element.semana}} </td>
      </ng-container>

      <ng-container matColumnDef="contrato">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  Contrato </span></th>
        <td mat-cell *matCellDef="let element"> {{element.contrato}} </td>
      </ng-container>

      <ng-container matColumnDef="nasPalheiro">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  Nas. Palheiro </span></th>
        <td mat-cell *matCellDef="let element"><span [ngClass]="element.nasPalheiro != ' ' ?  'cell-selected' : ' ' ">{{element.nasPalheiro}} </span> </td>
      </ng-container>

      <ng-container matColumnDef="camelRyo">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  camelRyo </span></th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="element.camelRyo != ' ' ?  'cell-selected' : ' ' ">{{element.camelRyo}} </span></td>
      </ng-container>

      <ng-container matColumnDef="kitEstrategico">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  kitEstrategico </span></th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="element.kitEstrategico != ' ' ?  'cell-selected' : ' ' ">{{element.kitEstrategico}} </span></td>
      </ng-container>

      <ng-container matColumnDef="rebaixa">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  rebaixa </span></th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="element.rebaixa != ' ' ?  'cell-selected' : ' ' ">{{element.rebaixa}} </span></td>
      </ng-container> 

      <ng-container matColumnDef="kitFocoCamel">
        <th mat-header-cell *matHeaderCellDef><span class="label-vertical">  kitFocoCamel </span></th>
        <td mat-cell *matCellDef="let element"> <span [ngClass]="element.kitFocoCamel != ' ' ?  'cell-selected' : ' ' ">{{element.kitFocoCamel}} </span></td>
      </ng-container>

      <ng-container matColumnDef="baseRyoOcb">
        <th mat-header-cell *matHeaderCellDef> <span class="label-vertical"> baseRyoOcb </span></th>
        <td mat-cell *matCellDef="let element"><span [ngClass]="element.baseRyoOcb != ' ' ?  'cell-selected' : ' ' ">{{element.baseRyoOcb}} </span></td>
      </ng-container>

      <ng-container matColumnDef="pesquisa">
        <th mat-header-cell *matHeaderCellDef> <span class="label-vertical"> pesquisa </span></th>
        <td mat-cell *matCellDef="let element"> {{element.pesquisa}} </td>
      </ng-container>

      <ng-container matColumnDef="hierarquia">
        <th mat-header-cell *matHeaderCellDef> hierarquia </th>
        <td mat-cell *matCellDef="let element"> {{element.hierarquia}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef> nomeCliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> endereco </th>
        <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
      </ng-container>

      <ng-container matColumnDef="mediaTriUlt3Meses">
        <th mat-header-cell *matHeaderCellDef> mediaTriUlt3Meses </th>
        <td mat-cell *matCellDef="let element"> {{element.mediaTriUlt3Meses}} </td>
      </ng-container>

      <ng-container matColumnDef="vendaMaio">
        <th mat-header-cell *matHeaderCellDef> vendaMaio </th>
        <td mat-cell *matCellDef="let element"> {{element.vendaMaio}} </td>
      </ng-container>

      <ng-container matColumnDef="objetivoTtMaio">
        <th mat-header-cell *matHeaderCellDef> objetivoTtMaio </th>
        <td mat-cell *matCellDef="let element"> {{element.objetivoTtMaio}} </td>
      </ng-container>

      <ng-container matColumnDef="lacunaMes">
        <th mat-header-cell *matHeaderCellDef> lacunaMes </th>
        <td mat-cell *matCellDef="let element"> {{element.lacunaMes}} </td>
      </ng-container>

      <ng-container matColumnDef="jTi">
        <th mat-header-cell *matHeaderCellDef> jTi </th>
        <td mat-cell *matCellDef="let element"> {{element.jTi}} </td>
      </ng-container>

      <ng-container matColumnDef="isqueiro">
        <th mat-header-cell *matHeaderCellDef> isqueiro </th>
        <td mat-cell *matCellDef="let element"> {{element.isqueiro}} </td>
      </ng-container>

      <ng-container matColumnDef="cb">
        <th mat-header-cell *matHeaderCellDef> cb </th>
        <td mat-cell *matCellDef="let element"> {{element.cb}} </td>
      </ng-container>

      <ng-container matColumnDef="cbSoft">
        <th mat-header-cell *matHeaderCellDef> cbSoft </th>
        <td mat-cell *matCellDef="let element"> {{element.cbSoft}} </td>
      </ng-container>

      <ng-container matColumnDef="cy">
        <th mat-header-cell *matHeaderCellDef> cy </th>
        <td mat-cell *matCellDef="let element"> {{element.cy}} </td>
      </ng-container>

      <ng-container matColumnDef="cySoft">
        <th mat-header-cell *matHeaderCellDef> cySoft </th>
        <td mat-cell *matCellDef="let element"> {{element.cySoft}} </td>
      </ng-container>

      <ng-container matColumnDef="cdp">
        <th mat-header-cell *matHeaderCellDef> cdp </th>
        <td mat-cell *matCellDef="let element"> {{element.cdp}} </td>
      </ng-container>

      <ng-container matColumnDef="cdg">
        <th mat-header-cell *matHeaderCellDef> cdg </th>
        <td mat-cell *matCellDef="let element"> {{element.cdg}} </td>
      </ng-container>

      <ng-container matColumnDef="cdr">
        <th mat-header-cell *matHeaderCellDef> cdr </th>
        <td mat-cell *matCellDef="let element"> {{element.cdr}} </td>
      </ng-container>

      <ng-container matColumnDef="cryo">
        <th mat-header-cell *matHeaderCellDef> cryo </th>
        <td mat-cell *matCellDef="let element"> {{element.cryo}} </td>
      </ng-container>

      <ng-container matColumnDef="ck">
        <th mat-header-cell *matHeaderCellDef> ck </th>
        <td mat-cell *matCellDef="let element"> {{element.ck}} </td>
      </ng-container>

      <ng-container matColumnDef="wb">
        <th mat-header-cell *matHeaderCellDef> wb </th>
        <td mat-cell *matCellDef="let element"> {{element.wb}} </td>
      </ng-container>

      <ng-container matColumnDef="wbSoft">
        <th mat-header-cell *matHeaderCellDef> wbSoft </th>
        <td mat-cell *matCellDef="let element"> {{element.wbSoft}} </td>
      </ng-container>

      <ng-container matColumnDef="wcSoft">
        <th mat-header-cell *matHeaderCellDef> wcSoft </th>
        <td mat-cell *matCellDef="let element"> {{element.wcSoft}} </td>
      </ng-container>

      <ng-container matColumnDef="ws">
        <th mat-header-cell *matHeaderCellDef> ws </th>
        <td mat-cell *matCellDef="let element"> {{element.ws}} </td>
      </ng-container>

      <ng-container matColumnDef="wr">
        <th mat-header-cell *matHeaderCellDef> wr </th>
        <td mat-cell *matCellDef="let element"> {{element.wr}} </td>
      </ng-container>

      <ng-container matColumnDef="wbs">
        <th mat-header-cell *matHeaderCellDef> wbs </th>
        <td mat-cell *matCellDef="let element"> {{element.wbs}} </td>
      </ng-container>

      <ng-container matColumnDef="we">
        <th mat-header-cell *matHeaderCellDef> we </th>
        <td mat-cell *matCellDef="let element"> {{element.we}} </td>
      </ng-container>

      <ng-container matColumnDef="wp">
        <th mat-header-cell *matHeaderCellDef> wp </th>
        <td mat-cell *matCellDef="let element"> {{element.wp}} </td>
      </ng-container>

      <ng-container matColumnDef="wbld">
        <th mat-header-cell *matHeaderCellDef> wbld </th>
        <td mat-cell *matCellDef="let element"> {{element.wbld}} </td>
      </ng-container>

      <ng-container matColumnDef="djbm">
        <th mat-header-cell *matHeaderCellDef> djbm </th>
        <td mat-cell *matCellDef="let element"> {{element.djbm}} </td>
      </ng-container>

      <ng-container matColumnDef="djb">
        <th mat-header-cell *matHeaderCellDef> djb </th>
        <td mat-cell *matCellDef="let element"> {{element.djb}} </td>
      </ng-container>

      <ng-container matColumnDef="lam">
        <th mat-header-cell *matHeaderCellDef> lam </th>
        <td mat-cell *matCellDef="let element"> {{element.lam}} </td>
      </ng-container>

      <ng-container matColumnDef="nas">
        <th mat-header-cell *matHeaderCellDef> nas </th>
        <td mat-cell *matCellDef="let element"> {{element.nas}} </td>
      </ng-container>

      <ng-container matColumnDef="nasp">
        <th mat-header-cell *matHeaderCellDef> nasp </th>
        <td mat-cell *matCellDef="let element"> {{element.nasp}} </td>
      </ng-container>

      <ng-container matColumnDef="pueb">
        <th mat-header-cell *matHeaderCellDef> pueb </th>
        <td mat-cell *matCellDef="let element"> {{element.pueb}} </td>
      </ng-container>

      <ng-container matColumnDef="inadim">
        <th mat-header-cell *matHeaderCellDef> inadim </th>
        <td mat-cell *matCellDef="let element"><span [ngClass]="element.inadim != ' ' ?  'cell-selected' : ' ' ">{{element.inadim}} </span> </td>
      </ng-container>

      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef> cidade </th>
        <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
      </ng-container>
  
      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>