.content-panel {

    padding: 10px;
}

mat-form-field {
    margin-right: 12px;
  }

.data-hora {
    width: 160px;
}

.reason {
    width: 350px;
}

table {
    width: 100%;
}

.header-color {
    background-color: #0e7227;
    color: #FFFFFF;
}

.button-positon {
    margin-left: 40%;
}