<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Menu</h2>
            <!--       <h4>credito@cetelem.com.br</h4> -->
        </div>
        <img src="https://escoladigital-production-storage.s3.amazonaws.com/uploads/images/thumb/20200925125243.jpg"
            alt="Systems Monitoring">
    </div>

    <mat-divider></mat-divider>

    <h2 style="color: rgb(73, 73, 73); font-size: 18px;">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/pse/dashboard">RealTime</a>
    </h2>
    <h2 style="color: rgb(73, 73, 73); font-size: 18px;">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/pse/posts">Batalha Naval</a>
    </h2>

</mat-nav-list>